@font-face {
    font-family: myFirstFont;
    src: url(https://rawcdn.githack.com/squidliquid23/happy-25th-birthday-neely/21720975688e96ed5bc2789de6a2cc5fcd47c6f3/Baletta-2OwRv.ttf)
}

.cursive {
 font-size: larger;
 font-family: myFirstFont;
 color: red;
/* width: 50%;
 padding: 50%;
 margin: auto; */
 position: relative;
}

.cursive.darling p {
    font-size: larger;
    font-family: myFirstFont;
    color: red;
    position: relative;
    margin-left: 3vw;
    line-height: 400%;
    text-transform:uppercase;
    word-spacing: 300%;
}

.cursive.darling h1 {
    font-size:xx-large;
    font-family: myFirstFont;
    color: red;
    position: relative;
    margin-top: 0;
    margin-left: 40vw;
}

.navbar {
    background: lightpink;
    border: 7px dotted rgb(240, 101, 147);
    position: relative;
    margin-left: -9px;
    width: 99.5vw;
    margin-top: -8px;
    

}

.pictures {
    position: relative;
    justify-content: center;
    object-fit: cover;
    width: 100vw;
    height: 60vh;
    background-color: rgb(238, 120, 160);
    margin-left: -8px;
}

.image1 {
    position: relative;
    margin-top: 4%;
    margin-left: 1px;
    width: 25%;
    height: 50%;
    border-radius: 50%;
    border: 5px rgb(197, 255, 61) solid;
}
.image4 {
    position: absolute;
    width: 25%;
    height: 70%;
    margin-left: 1px;
    border-radius: 30%;
    border: 5px green solid;
}
.image3 {
    position: absolute;
    border-radius: 50%;
    border: 5px rgb(231, 231, 231) groove;
    width: 15%;
    height: 50%;
    margin-top: 15%;
    margin-left: -25%;
}

.image2 {
    position: absolute;
    border-radius: 10%;
    border: 5px rgb(70, 37, 0) groove;
    width: 47.5%;
    height: 80%;
    margin: 5.72% 0% 0% 26.67%;
}


.navbar.first {
    display: inline-block;
    margin-top: .5em;
    overflow: hidden;
    margin-left: 43vw;
    width: 8em;
    white-space: nowrap;
    text-decoration: none;
    line-height: 1;
    background-color: rgb(194, 72, 56);
    color: whitesmoke;
    font-family: myFirstFont;
    padding: 35px 30px 20px 30px !important; 
    font-size: 20px !important;
    border: 3px darkred solid;
    overflow: hidden;
}

.navbar.first.love {
    display: inline-block;
    margin-top: .5em;
    overflow: hidden;
    margin-left: 43vw;
    width: 8em;
    white-space: nowrap;
    text-decoration: none;
    line-height: 1;
    background-color: antiquewhite;
    color: blueviolet;
    font-family: myFirstFont;
    padding: 35px 30px 20px 30px !important; 
    font-size: 20px !important;
    border: 3px blueviolet groove;
    overflow: hidden;
}

.navbar.gen {
    display: inline-block;
    margin-top: 10px;
    overflow: hidden;
    margin-left: 0;
    width: 5%;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    padding: 35px 30px 20px 30px !important; 
    border: 3px darkred solid;
    font-size: 20px !important;
    text-decoration: none;
    line-height: 1;
    font-family: myFirstFont;
    background-color: rgb(194, 72, 56);
    color: whitesmoke;
}

.navbar.active{
    display: inline-block;
    margin-top: 10px;
    overflow: hidden;
    margin-left: 0;
    width: 5%;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    padding: 35px 30px 20px 30px !important; 
    border: 3px blueviolet groove;
    font-size: 20px !important;
    text-decoration: none;
    line-height: 1;
    font-family: myFirstFont;
    background-color: antiquewhite;
    color: blueviolet;


    
}

.container {
    height: 100vh;
    width: 100vw;
    background: rgb(46, 170, 241);
    
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.container img {
    width: 75%;
    object-fit: cover;
    height: 20%;
    
    border-radius: 15px;
    position: relative;
    padding-left: 60px 30px 60px 30px;
    overflow: hidden;
    
}

.intro{ 
    text-shadow: 3px 3px 5px rgb(255, 127, 223);
}

.intro p{
    font-size: 100px;
    font-weight: 600;
    color:rgb(206, 37, 149);
    margin-top: -20%;
    margin-left: 0%;
    white-space: nowrap;
    position: absolute;
    font-family: myFirstFont;
}

.intro2{
    text-shadow: 3px 3px 5px rgb(255, 127, 223);
    font-size: 60px;
}


.intro2 h2{
    border-radius: 30%;
    margin-top: 0%;
    margin-left: 7%;
    font-weight: 500;
    font-style: italic;
    color: antiquewhite;
    position: absolute;
    white-space: nowrap;
    font-family: myFirstFont;

}

.box{
    position: absolute;
    margin-left: 5%;
    width: 200px;
    height: 200px;
    background: red;
    transform: rotate(-45deg);
    box-shadow: 0 2px 20px rgba(0,0,0,0.5);
    animation: animate 1.3s linear infinite;
}

.box:before{
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: red;
    top: -50%;
    border-radius: 200px;

}

.box:after{
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: red;
    right: -50%;
    border-radius: 200px;
}

@keyframes animate{
    0%{
        transform: rotate(-45deg) scale(1.05);
    }
    100%{
        transform: rotate(-45deg) scale(1.00);
    }
    100%{
        transform: rotate(-45deg) scale(.9);
    }
}
/*
    <script>
        let time = document.getElementById("current-time");
        setInterval(() =>{
            let d = new Date();
            time.innerHTML = d.toLocaleTimeString();
        }, 1000)
        

    </script>
    */

/*.datetime {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 20%;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 500;
    text-shadow: 3px 3px 5px rgb(255, 127, 223);
}
    */



    /* this is going to display the time at some point when i fix it
.datetime {
    width: 30%;
    position: relative;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    font-size: 50px;
    margin-left: 45%;
    margin-top: 60px;
    color: aqua;
}

.datetime h1 {
    position: absolute;
    background-color: rgb(211, 171, 123);
    background-blend-mode: difference;
    width: 50%;
    border-radius: 30%;
    border: rgb(105, 25, 25);
    border-width: 25px;
    border-style: groove;
    
    color: whitesmoke;
    
}

.datetime h2 {
    position: absolute;
    color: aquamarine;
    margin-top: 25%;
    text-shadow: 0 0 10px saddlebrown;
}
    */